# Базовые типы данных

### Полезности с прошлого занятия

In [1]:
# выбирайте названия переменных по смыслу

# ¯\_(ツ)_/¯
a = 7655957369

# вариант получше
earth_population = 7655957369

In [2]:
# используйте табуляцию для автодополнения длинных названий

top_clients_region_rating

NameError: name 'top_clients_region_rating' is not defined

In [3]:
# целое число
step = 4

type(step)

int

In [4]:
# вещественное число
minimum_share = 0.02

type(minimum_share)

float

In [5]:
# строки

'3.14'

'3.14'

In [6]:
# перевод строки в число - int и float

float('3.14')

3.14

In [7]:
# перевод числа в строку

str(2.718281828)

'2.718281828'

In [8]:
# булевый тип

'2019-05-16' < '2019-05-17'

True

## Списки (листы)

In [9]:
just_numbers = [4, 1, 13, 0, 6]

In [10]:
# количество элементов в списке
len(just_numbers)

5

In [11]:
# сумма элементов
sum(just_numbers)

24

In [12]:
# сортировка по возрастанию
sorted(just_numbers)

[0, 1, 4, 6, 13]

In [13]:
# изменить порядок сортировки
sorted(just_numbers, reverse = True)

[13, 6, 4, 1, 0]

In [14]:
# это сортировка чисел по возрастанию
sorted([1, 9, 10, 99, 100])

[1, 9, 10, 99, 100]

In [15]:
# а это сортировка строк по алфавиту
sorted(['1', '9', '10', '99', '100'])

['1', '10', '100', '9', '99']

In [16]:
# перебирать элементы списка можно так
for i in sorted(['1', '9', '10', '99', '100']):
    print(i)

1
10
100
9
99

In [17]:
# создать список из нескольких элементов

[1] * 10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [18]:
'hello ' * 5

'hello hello hello hello hello '

In [19]:
user_id = 'undef'
movie_id = 'undef'

In [20]:
# иногда удобно для генерации значений
user_id, movie_id, rating, timestamp = ['undef']*4

In [21]:
print(user_id)

undef

### Упражнение
Можно ли использовать sorted для списков, состоящих из чисел и строк одновременно? Попробуйте показать это на примере

In [22]:
sorted([1, 9.9, 10, 99, 100])

[1, 9.9, 10, 99, 100]

In [23]:
sorted(['1', '9']) + sorted([10, 99, 100])

['1', '9', 10, 99, 100]

In [24]:
sorted(['1', '9', '10', '99', '100', 'a'])

['1', '10', '100', '9', '99', 'a']

### Распаковка списков

In [7]:
first, second, third = ['первый', 'второй', 'третий']
second

'второй'

In [8]:
# когда число элементов неизвестно

first, *other = ['первый', 'второй', 'третий']
first, other

('первый', ['второй', 'третий'])

In [25]:
first, *_, last =  ['первый', 'второй', 'третий', 'четвертый']

In [26]:
first, last

('первый', 'четвертый')

In [27]:
# иногда можно не заморачиваться с названиями
first, *_ = ['первый', 'второй', 'третий']

In [28]:
first, _

('первый', ['второй', 'третий'])

### Добавление элементов и сложение

In [29]:
just_numbers = [1, 2, 3]

In [30]:
# добавление элемента к списку
just_numbers.append(15)
just_numbers

[1, 2, 3, 15]

In [31]:
# так не работает
just_numbers = just_numbers.append(15)
print(just_numbers)

None

In [32]:
# склеивание списков
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [33]:
a = [1, 2, 3]
a.append([4, 5, 6])

In [34]:
print(a)

[1, 2, 3, [4, 5, 6]]

### Фильтрация элементов списка
Аналогично строкам

### Важно!
1. Нумерация элементов начинается с 0

2. Правая граница диапазона не берется в расчет

In [35]:
months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']

In [36]:
# январь и февраль
months[0:2] # [0, 1]

['jan', 'feb']

In [37]:
months[2:]

['mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']

In [38]:
# первый (нулевой) элемент и последний можно не указывать
# зимние месяцы

months[-3:]

['oct', 'nov', 'dec']

In [39]:
# все месяцы с шагом 2
months[3:-1:2]

['apr', 'jun', 'aug', 'oct']

### Упражнение
Выведите на экран весенние месяцы

In [14]:
months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
months[-10:-7]

['mar', 'apr', 'may']

In [19]:
for month in months:
    if (months.index(month) >= 3) & (months.index(month) <= 5):
        print(month, end=" ")

apr may jun

### Вложенные списки

In [2]:
user_data = [
    ['Елена', 500],
    ['Алексей', 400],
    ['Татьяна', 250],
    ['Сергей', 110],
]

In [4]:
user_data[2]

['Татьяна', 250]

In [22]:
user_data[2][1]

250

In [40]:
# обращение ко вложенным элементам

user_data[2][0]

NameError: name 'user_data' is not defined

### Упражнение
Дан список цен на товары. Выведите на экран производителя LG из третьей по счету строки, обратившись к items

In [41]:
user_data = [
    ['Елена', 500],
    ['Алексей', 400],
    ['Татьяна', 250],
    ['Сергей', 110],
]

user_data[3][0]

'Сергей'

### Изменение списков

В примере ниже переменная a и b на самом деле указывают на один и тот же объект. В результате, при добавлении в b очередного элемента этот элемент добавляется и в исходном листе a

In [41]:
a = [1, 2, 3]
b = a

In [42]:
b.append(4)
'a = {}'.format(a)

'a = [1, 2, 3, 4]'

In [43]:
id(a), id(b)

(4558013640, 4558013640)

Используем модуль copy

In [44]:
import copy

In [45]:
a = [1, 2, 3]
b = copy.copy(a)

In [46]:
id(a), id(b)

(4559953736, 4560012936)

In [47]:
b.append(4)
print('a = {}'.format(a))

print('b = {}'.format(b))

a = [1, 2, 3]
b = [1, 2, 3, 4]

Со словарями та же история

In [48]:
dict_1 = {'a': 1}
dict_2 = dict_1

In [49]:
dict_2.update({'b': 2})

In [50]:
dict_1

{'a': 1, 'b': 2}

In [51]:
id(dict_1) == id(dict_2)

True

### Перебор элементов списка

In [52]:
a = [1, 2, 3, 4, 5]

In [ ]:
# for i in a:
#     print(i**2)
    
#     if i % 1000:
#         print(i)
    
#     if i > 3:
#         break

In [ ]:
# j = 0
# for i in a:
#     print(i)
    
#     j += 1
    
#     if j > 3:
#         break

In [53]:
# функция range:

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [54]:
# с указанием левой и правой границы
for i in range(3, 20):
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [55]:
# третий аргумент - шаг
for i in range(3, 20, 5):
    print(i)

3
8
13
18

### Простые проверки

In [56]:
a = range(10**6)

In [ ]:
# for i in a:
#     # вычисления
    
#     if i % 200000 == 0:
#         print(i / len(a))

In [57]:
# не используйте служебные обозначения для названий переменных
# добавляйте _
list_ = range(20)

list(list_[3:20:5])

[3, 8, 13, 18]

### Упражнение

Имеется поток данных о ценах товаров (считайте, что цена всегда больше 0). Необходимо написать алгоритм определения минимального четного числа в этом потоке.

В качестве усложненного варианта рассмотрите дополнительные условия:

1. Список sys_stdin может быть любого размера или условно бесконечным потоком чисел. Т. е. поместить список в оперативную память целиком нельзя.

2. Не учитывайте в расчете отрицательные числа и 0 (соответственно, начальное условие о положительной цене отменяется).

In [11]:
# sys_stdin сейчас просто название переменной
sys_stdin = [78, 68, 484, 3, 254, 90, 143, 78, 43, 42, 3053, 473, 5, 8593, 16, 3, 1454, 37, 96, 8547]

In [ ]:
if i % 2 == 0:
    ...

### Немного про итераторы в 2.7 и 3.x

Во второй версии питона range(5) вернет список [0, 1, 2, 3, 4]

In [58]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
# for i in range(10**12):
#     print(i)
    
#     if i > 10:
#         break

Аналог в третьей версии:

In [59]:
list(range(5))

[0, 1, 2, 3, 4]

## Tuple (кортеж)
Неизменяемый список

In [60]:
t = (1, 2, 3)
type(t)

tuple

In [61]:
t.__sizeof__()

48

In [62]:
[1, 2, 3].__sizeof__()

64

In [63]:
t[0] = 1

TypeError: 'tuple' object does not support item assignment

In [64]:
# кортеж из одного элемента задается так:
t = ('one',)

In [65]:
type(t)

tuple

In [66]:
# без запятой получится строка

type( ('one') )

str

## Множества set
Набор неповторяющихся элементов в случайном порядке

In [67]:
nums = [1, 0, 0, 1]
set(nums)

{0, 1}

In [68]:
len(set(nums))

2

### Упражнение
Дан список описаний товаров descriptions. 

Есть подозрение, что некоторые описания содержат много дубликатов одних и тех же слов. Т. е. могут быть переоптимизированными. Для каждого описания товара выведите на экран разницу между количеством уникальных слов и общим количеством слов в этом описании.

In [69]:
descriptions = [
    ['браслет', 'xiaomi', 'mi', 'band', '2.', 'умный', 'браслет', 'xiaomi', 'mi', 'лидер', 'в', 'линейке', 'xiaomi.', 'фитнес', 'браслет', 'для', 'android', '4.4,', 'ios', '7,', 'экран', 'oled.', 'лучший', 'выбор', 'xiaomi'],
    ['браслет', 'huawei', 'honor', 'band', '3.', 'фитнес', 'браслет', 'влагозащищенный', 'сенсорный', 'экран', 'android,', 'ios', 'мониторинг', 'сна'],
    ['браслет', 'samsung', 'gear', 'fit2', 'pro.', 'влагозащищенный', 'сенсорный', 'amoled-экран', 'мониторинг', 'сна,', 'калорий,', 'новинка', 'samsung'],
]

In [70]:
a = len(set(descriptions[0]))
b = len(set(descriptions[1]))
c = len(set(descriptions[2]))

q = len(descriptions[0])
w = len(descriptions[1])
e = len(descriptions[2])

print(a, q)
print(b, w)
print(c, e)

20 25
13 14
12 13

## Сравнение больших списков
Дан набор ID товаров из CRM и базы управленческой отчетности, которые частично расходятся. Необходимо определить процент расхождения ID заявок в этих базах.

Более общая постановка задачи: даны два списка, хотя бы один из которых помещается в оперативную память. Необходимо найти общее количество общих элементов этих списков.

In [71]:
power = 7

system_1_data = list(range(1, 10**power, 5))
system_2_data = list(range(1, 10**power, 7))

In [72]:
len(system_1_data), len(system_2_data)

(2000000, 1428572)

Вариант 1

Ищем пересечение простым перебором

In [ ]:
%%time
unique_elements_counter = 0

i = 0
for el in system_1_data:
    if el in system_2_data:
        unique_elements_counter += 1
    
    i += 1
    if i % 100 == 0:
        print(i)

print(unique_elements_counter)

Вариант 2

Используем поиск по множеству

In [ ]:
system_2_set = set(system_2_data)

In [ ]:
%%time
common_elements_counter = 0

i = 0
for el in system_1_data:
    if el in system_2_set:
        common_elements_counter += 1

    i += 1
    if i % 100000 == 0:
        print(i)

print(common_elements_counter)

In [ ]:
common_elements_counter

In [ ]:
# запись результатов в Excel

from openpyxl import Workbook
wb = Workbook()

sheet = wb.active

i = 1
for el in system_1_data:
    if el in system_2_set:
        sheet['A{}'.format(i)] = el
        i += 1

wb.save(filename='export_ids.xlsx')

## Списки и строки

In [73]:
queries_string = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

In [74]:
# преобразование строки в список (например, из CSV-файла)
queries_string.split(',')

['смотреть сериалы онлайн',
 'новости спорта',
 'афиша кино',
 'курс доллара',
 'сериалы этим летом',
 'курс по питону',
 'сериалы про спорт']

In [75]:
# Преобразование списка в строку

','.join(['Столбец 1', 'Столбец 2', 'Столбец 3'])

'Столбец 1,Столбец 2,Столбец 3'

In [76]:
# проверка вхождения элемента в список:

'Москва' in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']

True

### Упражнение
Дана строчка из CSV-файла, которая содержит набор поисковых запросов, разделенных запятой:

queries = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

Также дан список слов, по которому необходимо отфильтровать исходную строку с поисковыми запросами:

words = ['сериалы', 'курс']

Вам необходимо написать скрипт, который выводит на экран строчку queries, в которой оставлены только те запросы, которые содержат слова из листа words.

In [ ]:
queries = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

In [ ]:
words = ['сериалы', 'курс']

### List comprehension

In [77]:
# Дана последовательность чисел. Мы хотим оставить только те, что делятся на 5
sequence = range(0, 40, 3)
sequence

range(0, 40, 3)

In [78]:
list(sequence)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

In [79]:
# решение в лоб
for num in sequence:
    if num % 5 == 0:
        print( num )

0
15
30

In [80]:
# если хотим получить отфильтрованный лист, то будет даже так
filteredSequence = []

for num in sequence:
    if num % 5 == 0:
        filteredSequence.append( num )

print( filteredSequence )

[0, 15, 30]

In [81]:
[w for w in sequence if w ...]

SyntaxError: invalid syntax (<ipython-input-81-ba53af36c660>, line 1)

In [82]:
[w for w in sequence if w % 5 == 0]

[0, 15, 30]

In [83]:
# с list comprehension получается покороче

print( [ x**2 for x in sequence if x % 5 == 0 ] )

[0, 225, 900]

Пример вычисления метрики из набора списков. Столбцы в каждой строке:
- дата
- номер счетчика
- количество визитов

In [84]:
api_response = [
    ['2017-12-26', '777', 184],
    ['2017-12-27', '111', 146],
    ['2017-12-28', '777', 98],
    ['2017-12-29', '777', 206],
    ['2017-12-30', '111', 254],
    ['2017-12-31', '777', 89],
    ['2018-01-01', '111', 54],
    ['2018-01-02', '777', 68],
    ['2018-01-03', '777', 74],
    ['2018-01-04', '111', 89],
    ['2018-01-05', '777', 104],
    ['2018-01-06', '777', 99],
    ['2018-01-07', '777', 145],
    ['2018-01-08', '111', 184],
]

In [85]:
sum([x[2] for x in api_response if '2018-01-' in x[0]])

817

### Упражнение

Посчитайте среднее значение визитов за день только за 2018 год для счетчика 777

## Словари

In [20]:
stats = {
    '2017-05-01': 100,
    '2017-05-02': 101,
    '2017-05-03': 102
}

In [21]:
# обращение к элементу словаря
print( stats['2017-05-01'] )

100

In [22]:
# пройтись по элементам словаря
for key in stats.values():
    print( key )

100
101
102

In [23]:
# пройтись по ключам словаря
for key in stats.keys():
    print( key )

2017-05-01
2017-05-02
2017-05-03

In [24]:
for key, value in stats.items():
    print(key, value)

2017-05-01 100
2017-05-02 101
2017-05-03 102

In [25]:
# количество ключей
print(len(stats))

3

### При обращении к словарю ключ должен существовать

In [90]:
stats= ['2017-05-04']

In [91]:
# проверка на наличие ключа в словаре
newDate = '2017-05-04'
newDateValue = 103

if newDate in stats:
    print('Значение для ключа уже существует')
    
else:
    print('Добавляю новый ключ')
    stats[ newDate ] = newDateValue

print(stats)

Значение для ключа уже существует
['2017-05-04']

Можно использовать метод setdefault

In [92]:
stats = {
    '2017-05-01': 100,
    '2017-05-02': 101,
    '2017-05-03': 102,
    '2017-05-09': 500
}

In [93]:
stats.setdefault('2017-05-09', 0)

500

In [94]:
stats

{'2017-05-01': 100, '2017-05-02': 101, '2017-05-03': 102, '2017-05-09': 500}

In [95]:
stats.setdefault('2017-05-09', 0)
stats['2017-05-09'] = 109
stats

{'2017-05-01': 100, '2017-05-02': 101, '2017-05-03': 102, '2017-05-09': 109}

In [96]:
# setdefault не изменяет значение, если ключ уже был в словаре
stats = {'2017-05-01': 100}

stats.setdefault('2017-05-01', 0)
stats

{'2017-05-01': 100}

### Упражнение
Имеется список с координатами мест и названием страны, в которое находится это место. Напишите алгоритм, который считает распределение количества мест по странам. Список координат может быть любого размера.

In [97]:
data = [
    [55, 37, 'Россия'],
    [43, 131, 'Россия'],
    [48, 2, 'Франция'],
    [42, 5, 'Франция'],
    [51, 55, 'Россия'],
]

In [98]:
stat = {}

for record in data:
    country = record[2]
    stat.setdefault(country, 0)
    
    stat[country] += 1
print(stat)

{'Россия': 3, 'Франция': 2}

## Словари и списки

In [99]:
# попарное сравнение значений списков

test = [ 1, 0, 0, 1 ]
predictions = [ 0.89, 0.34, 0.08, 0.67 ]

In [100]:
for pairs in zip(test, predictions):
    print(pairs)

(1, 0.89)
(0, 0.34)
(0, 0.08)
(1, 0.67)

Словарь из двух списков

In [101]:
categories = ['Еда', 'Авто', 'Политика']
audience = [100, 200, 300]

In [102]:
category_audience = zip(categories, audience)
for element in category_audience:
    print(element)

('Еда', 100)
('Авто', 200)
('Политика', 300)

In [103]:
categoriesDict = dict(zip(categories, audience))
print(categoriesDict)

{'Еда': 100, 'Авто': 200, 'Политика': 300}

## Словарь из списка
Похоже на  list comprehension

In [104]:
{n: n**2 for n in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [105]:
results = [('date', '2018-01-01'), ('counter', '777'), ('visits', 154)]

In [106]:
{metric: value for (metric, value) in results}

{'date': '2018-01-01', 'counter': '777', 'visits': 154}

## Сортировка списка по элементам

In [107]:
results = [
    {'cost': 98, 'revenue': 103, 'source': 'vk'},
    {'cost': 153, 'revenue': 179, 'source': 'yandex'},
    {'cost': 110, 'revenue': 103, 'source': 'facebook'},
    {'cost': 34, 'revenue': 35, 'source': 'adwords'},
    {'cost': 24, 'revenue': 11, 'source': 'twitter'},
]

In [108]:
sorted(results, key=lambda x: -x['cost'])

[{'cost': 153, 'revenue': 179, 'source': 'yandex'},
 {'cost': 110, 'revenue': 103, 'source': 'facebook'},
 {'cost': 98, 'revenue': 103, 'source': 'vk'},
 {'cost': 34, 'revenue': 35, 'source': 'adwords'},
 {'cost': 24, 'revenue': 11, 'source': 'twitter'}]

## Сортировка вложенных словарей

In [109]:
results = {
    'vk': {'revenue': 103, 'cost': 98},
    'yandex': {'revenue': 179, 'cost': 153},
    'facebook': {'revenue': 103, 'cost': 110},
    'adwords': {'revenue': 35, 'cost': 34},
    'twitter': {'revenue': 11, 'cost': 24},
}

In [110]:
# сортировка по ключам в обратном порядке
sorted(results.items(), key = lambda x: -x[1]['revenue'], reverse=True)

[('twitter', {'revenue': 11, 'cost': 24}),
 ('adwords', {'revenue': 35, 'cost': 34}),
 ('vk', {'revenue': 103, 'cost': 98}),
 ('facebook', {'revenue': 103, 'cost': 110}),
 ('yandex', {'revenue': 179, 'cost': 153})]

In [37]:
# сортировка по ключам вложенного словаря
# x[1] - обращение к значению ключа

sorted(results.items(), key = lambda x: x[1]['revenue'], reverse=True)

[('yandex', {'revenue': 179, 'cost': 153}),
 ('vk', {'revenue': 103, 'cost': 98}),
 ('facebook', {'revenue': 103, 'cost': 110}),
 ('adwords', {'revenue': 35, 'cost': 34}),
 ('twitter', {'revenue': 11, 'cost': 24})]

### Упражнение

Для каждого источника посчитайте ROI (revenue / cost - 1) и отсортируйте результат по убыванию ROI

## Группировки в больших массивах данных

In [111]:
# имеется большой лист значений, в первом столбце которого количество элементов относительно невелико

big_data_list = [
    ['google', 'cpc', 925],
    ['yandex', 'organic', 790],
    ['market', 'cpc', 465],
    ['google', 'organic', 413],
    ['google', 'cpc', 398],
    ['direct', 'none', 115],
    ['yandex', 'cpc', 43]
]

In [112]:
sorted(big_data_list)

[['direct', 'none', 115],
 ['google', 'cpc', 398],
 ['google', 'cpc', 925],
 ['google', 'organic', 413],
 ['market', 'cpc', 465],
 ['yandex', 'cpc', 43],
 ['yandex', 'organic', 790]]

In [113]:
{'yandex': 123, 'google': 123213}

{'yandex': 123, 'google': 123213}

In [114]:
stats = {}

for line in big_data_list:
    stats.setdefault(line[0], 0)
    stats[line[0]] += line[2]

stats

{'google': 1736, 'yandex': 833, 'market': 465, 'direct': 115}

In [115]:
select campaign, sum(value)
from big_silf
group campaign

SyntaxError: invalid syntax (<ipython-input-115-2d165b65e4e4>, line 1)

### Упражнение

Посчитайте количество уникальных значений канала в листе big_data_list (второй столбец)

In [ ]:
{'cpc': ..., 'organic': ..., 'none': ...}

In [ ]:
logs = [
    '123',
    '123',
    '123',
    '567',
    '567',
    '567',
]