### Домашнее задание. Функции — использование встроенных и создание собственных (Data Science)

### Задание 1

Дан список вида:

data = [
[13, 25, 23, 34],
[45, 32, 44, 47],
[12, 33, 23, 95],
[13, 53, 34, 35],
]

Напишите функцию, которая возвращает сумму элементов на диагонали. Т. е. 13+32+23+35.

### Решение

In [30]:
data = [
[13, 25, 23, 34],
[45, 32, 44, 47],
[12, 33, 23, 95],
[13, 53, 34, 35],
]

In [31]:
def _sum(data):
#     print([(l[index]) for index, l in enumerate(data)]) # for testing
    return sum([(i[index]) for index, i in enumerate(data)])

In [32]:
_sum(data)

103

### Задание 2

Дан список чисел, часть из которых имеют строковый тип или содержат буквы. Напишите функцию, которая возвращает сумму квадратов элементов, которые могут быть числами.

data = [1, ‘5’, ‘abc’, 20, ‘2’]

### Решение

In [11]:
data = [1, '5', 'abc', 20, '2']

In [12]:
def square_sum(data):
    res = 0
    for i in data:
        try:
            res += int(i) ** 2
        except:
            pass
    return(res)

In [13]:
square_sum(data)

430

### Задание 3

Напишите функцию, которая возвращает название валюты (поле ‘Name’) с максимальным значением курса с помощью сервиса 

https://www.cbr-xml-daily.ru/daily_json.js

### Решение

In [14]:
import requests
def max_valute(data):
    return list(filter(lambda valute: valute['Value'] == 
                       max([valute['Value'] for valute in data.values()]), 
                       data.values()))[0]['Name']

In [18]:
data = requests.get('https://www.cbr-xml-daily.ru/daily_json.js').json()['Valute']
max_valute(data)

'Датских крон'

### Задание 4

Последнее упражнение с занятия

1. Добавьте в класс еще один формат, который возвращает название валюты (например, ‘Евро’).

2. Добавьте в класс параметр diff (со значениями True или False), который в случае значения True в методах eur и usd будет возвращать не курс валюты, а изменение по сравнению в прошлым значением.

### Решение

In [20]:
class Rate:
    def __init__(self, format='value', diff=False):
        self.format = format
        self.diff = diff
    
    def exchange_rates(self):
        """
        Возвращает ответ сервиса с информацией о валютах в виде:
        
        {
            'AMD': {
                'CharCode': 'AMD',
                'ID': 'R01060',
                'Name': 'Армянских драмов',
                'Nominal': 100,
                'NumCode': '051',
                'Previous': 14.103,
                'Value': 14.0879
                },
            ...
        }
        """
        r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
        return r.json()['Valute']
    
    def make_format(self, currency):
        """
        Возвращает информацию о валюте currency в двух вариантах:
        - полная информация о валюте при self.format = 'full':
        Rate('full').make_format('EUR')
        {
            'CharCode': 'EUR',
            'ID': 'R01239',
            'Name': 'Евро',
            'Nominal': 1,
            'NumCode': '978',
            'Previous': 79.6765,
            'Value': 79.4966
        }
        
        Rate('value').make_format('EUR')
        79.4966
        """
        response = self.exchange_rates()
        
        if currency in response:
            if self.format == 'full':
                return response[currency]
            if self.format == 'value':
                if  self.diff == True:
                    return round(response[currency]['Value'] - response[currency]['Previous'], 2)
                else:
                    return response[currency]['Value']
            if self.format == 'name':
                return response[currency]['Name']
            if self.format == 'name':
                return response[currency]['Name']
        return 'Error'
    
    def eur(self):
        """Возвращает курс евро на сегодня в формате self.format"""
        return self.make_format('EUR')
    
    def usd(self):
        """Возвращает курс доллара на сегодня в формате self.format"""
        return self.make_format('USD')

In [21]:
Rate('name').eur()

'Евро'

In [22]:
Rate().eur()

72.3186

In [23]:
Rate(diff=True).eur()

0.48

### Задание 5

Напишите функцию, возвращающую сумму первых n чисел Фибоначчи

### Решение

In [24]:
def fib(n):
    seq = [0, 1]
    for i in range(2, n + 1):
        seq.append(seq[i-1] + seq[i-2])
    print(sum(seq))

In [25]:
fib(5)

12

### Задание 6

Напишите функцию, преобразующую произвольный список вида 

[‘2018-01-01’, ‘yandex’, ‘cpc’, 100] в словарь {‘2018-01-01’: {‘yandex’: {‘cpc’: 100}}}

### Решение

In [26]:
some_list = ['2018-01-01', 'yandex', 'cpc', 100]

def crazy_nested_dict(some_list):
    res = {}
    for i, el in enumerate(reversed(some_list)):
        res = {el: res}
        if i == 1:
            res = {el: some_list[-1]}
    return res

In [27]:
crazy_nested_dict(some_list)

{'2018-01-01': {'yandex': {'cpc': 100}}}

In [ ]:
pass