### Домашнее задание к занятию «Python для анализа данных: numpy и scipy»

### **Задание 1**
Создайте numpy array с элементами от числа N до 0 (например, для N = 10 это будет 

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0]))

### Решение

In [6]:
import numpy as np
import pandas as pd

rev_array = lambda n: np.arange(n)[::-1]
rev_array(10)

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

In [36]:
def func(N):
    res = np.flip(np.arange(N))
    return res

func(10)

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

In [37]:
print(np.flip(np.arange(10)))

[9 8 7 6 5 4 3 2 1 0]

### **Задание 2**
Создайте диагональную матрицу с элементами от N до 0. Посчитайте сумму ее значений на диагонали.

### Решение

In [5]:
np.diag(rev_array(10))

array([[9, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 8, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 7, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 6, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 5, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 4, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 3, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 2, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [7]:
np.diag(rev_array(10)).sum()

45

### **Задание 3**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

### Решение

In [14]:
ratings = pd.read_csv('/Users/aleksandr/Downloads/ml-20m/ratings.csv')
movies = pd.read_csv('/Users/aleksandr/Downloads/ml-20m/movies.csv')

In [19]:
evaluation = ratings[ratings['rating'] == 5.0]
res = evaluation.groupby('movieId').count().sort_values('rating', ascending=False).index.tolist()[0]

movies[movies['movieId'] == res]

     movieId                             title       genres
315      318  Shawshank Redemption, The (1994)  Crime|Drama

### **Задание 4**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

### Решение

In [38]:
df = pd.read_csv('/Users/aleksandr/Downloads/Python_5_pandas/power.csv')

In [39]:
baltic = ['Latvia', 'Lithuania', 'Estonia']
category = [4, 12, 21]
period = range(2005, 2011)

In [40]:
# https://www.geeksforgeeks.org/python-pandas-dataframe-isin/
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.isin.html
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html

res = df[
    df['country'].isin(baltic) & 
    df['category'].isin(category) & 
    df['year'].isin(period) & 
    df['quantity'] > 0]

In [41]:
res['quantity'].sum()

240481.0

### **Задание 5**
Решите систему уравнений:

4x + 2y + z = 4

x + 3y = 12

5y + 4z = -3

### Решение

In [12]:
equation = [[4, 2, 1], [1, 3, 0], [0, 5, 4]]
value = [4, 12, -3]

In [13]:
# https://docs.scipy.org/doc/numpy/reference/generated/numpy.linalg.solve.html
# https://docs.scipy.org/doc/numpy-1.13.0/reference/routines.linalg.html#matrix-and-vector-products

np.linalg.solve(equation, value)

array([ 0.46666667,  3.84444444, -5.55555556])

In [ ]:
pass