In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
# 1.1

In [5]:
some_list = [1, 14, 16, 2, 96, 26, 4, 1, 7, 11]
_sum = 0

for item in some_list:
    if item > 10:
        _sum += item

print(_sum)

163

In [6]:
# 1.2

In [11]:
some_other_list = ['John', 'Some', 'just', 'a', 'put', 'gun',
                  'his', 'again', 'somer', 'head', 'but', 'get',
                  'another one', 'r', 'ends with r', 'right', 'stop', 'Trigger']

# for item in some_other_list:
#     if item.endswith('r'):
#         print(item)

for item in some_other_list:
#     if 'r' in item[-1]:
    if 'r' == item[-1]:
        print(item)

somer
r
ends with r
Trigger

In [ ]:
# 1.3

In [2]:
number = 0

while '3' not in str(number):
    number = random.randint(10000, 100000)

number

36575

In [ ]:
# 1.4

In [36]:
solme_str_list = 'Anyway the wind blows, doesn\'t really matter to me'

ssl = solme_str_list.split(' ')
print(len(ssl))

9

In [ ]:
# 2.1

In [39]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(np.sum(matrix))

45

In [ ]:
# 2.2

In [45]:
matrix = [
    [1, 3, 5, 0, 1, 2, 3],
    [6, 3, 2, 4, 2, 2, 1],
    [4, 1, 1, 0, 0, 9, 2],
    [7, 9, 6, 3, 3, 7, 5]
]

print(max(np.sum(matrix, axis=0)))

20

In [40]:
# 3.1

In [50]:
data = [
    [123123, 'Ivanov', 21, 'PYDA-1'],
    [453124, 'Petrov', 19, 'PY-5'],
    [123895, 'Sidorov', 27, 'DB-1'],
    [903126, 'Some', 21, 'PYDA-2']
]

data_dict = dict()

for item in data:
    data_dict[item[0]] = item[1:]

data_dict

{123123: ['Ivanov', 21, 'PYDA-1'],
 453124: ['Petrov', 19, 'PY-5'],
 123895: ['Sidorov', 27, 'DB-1'],
 903126: ['Some', 21, 'PYDA-2']}

In [ ]:
# 3.2

In [56]:
student = input('Фамилия: ')
new_group = input('Новая группа: ')

for item in data_dict.values():
    if student in item:
        item[2] = new_group

data_dict

Фамилия: Ivanov
Новая группа: PYDA-5

{123123: ['Ivanov', 21, 'PYDA-5'],
 453124: ['Petrov', 19, 'PY-5'],
 123895: ['Sidorov', 27, 'DB-1'],
 903126: ['Some', 21, 'PYDA-2']}

In [ ]:
# 3.3

In [58]:
student = input('Фамилия: ')
new_age = input('Возрост: ')

for item in data_dict.values():
    if student in item:
        item[1] = new_age

data_dict

Фамилия: Ivanov
Возрост: 30

{123123: ['Ivanov', '30', 'PYDA-5'],
 453124: ['Petrov', 19, 'PY-5'],
 123895: ['Sidorov', 27, 'DB-1'],
 903126: ['Some', 21, 'PYDA-2']}

In [ ]:
pass