In [6]:
import pandas as pd
import mysql.connector # MySQL

mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    passwd="root",
    port='8889',
    database=''
)

print(mydb)

cursor = mydb.cursor()

cursor.execute("SELECT * FROM stepik_sql.book")

query_results_temp = cursor.fetchall()

mydb.close()

df_temp = pd.DataFrame(query_results_temp)
df_temp.head()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7faaf306bca0>

   0                      1                 2       3   4
0  1     Мастер и Маргарита     Булгаков М.А.  670.99   3
1  2          Белая гвардия     Булгаков М.А.  540.50   5
2  3                  Идиот  Достоевский Ф.М.  460.00  10
3  4      Братья Карамазовы  Достоевский Ф.М.  799.01   3
4  5  Стихотворения и поэмы       Есенин С.А.  650.00  15

In [7]:
import pymysql # MySQL

connection = pymysql.connect(
    host="127.0.0.1",
    user="root",
    passwd="root",
    port=8889,
    database=''
)

# try:
#     connection = pymysql.connect(
#         host="000.000.00.000",
#         user="root",
#         passwd="root",
#         port=3306,
#         database='test')
# except Exception:
#     print("Подключение не удалось")
# finally:
#     print(connection)

# def log(message, answer='text'):
#     try:
#         sql = """INSERT INTO test.log_telegram (message_datetime, message_from_user_id, message_from_user_first_name, message_from_user_last_name, message_message_id, message_user_text, message_from_user_language_code) VALUES (%s, %s, %s, %s, %s, %s, %s)"""
#         val = (str(datetime.now()), str(message.from_user.id), str(message.from_user.first_name),
#                str(message.from_user.last_name), str(message.message_id), str(message.text),
#                str(message.from_user.language_code))
#         cur.execute(sql, val)
#     except Exception:
#         file = open('log.txt', 'a')
#         file.write("Попытка записать лог в базу данных не удалась, проверьте базу данных.\n{};{};{};{};{};{};{}\n\n".format(str(datetime.now()), str(message.from_user.id), str(message.from_user.first_name), str(message.from_user.last_name), str(message.message_id), str(message.text), str(message.from_user.language_code)))
#         file.close()


print(connection)

cur = connection.cursor()

sql_query = "select * from stepik_sql.book"

cur.execute(sql_query)

data = cur.fetchall()

connection.close()

dd = pd.DataFrame(list(data))
dd.head()

<pymysql.connections.Connection object at 0x7faaf306b790>

   0                      1                 2       3   4
0  1     Мастер и Маргарита     Булгаков М.А.  670.99   3
1  2          Белая гвардия     Булгаков М.А.  540.50   5
2  3                  Идиот  Достоевский Ф.М.  460.00  10
3  4      Братья Карамазовы  Достоевский Ф.М.  799.01   3
4  5  Стихотворения и поэмы       Есенин С.А.  650.00  15

In [ ]:
import psycopg2 # PostgreSQL

conn = psycopg2.connect(
    dbname='PostGres',
    user='postgres',
    password='',
    host='localhost',
    port='5432'
)

print(conn)

cursor = conn.cursor()

cursor.execute("""SELECT * FROM test.employee""")

datab = cursor.fetchall()

conn.close()

ddb = pd.DataFrame(datab)
ddb.head()

In [10]:
# name = ['t1', 't2']
# for i in name:
#     test = """INSERT INTO name_table(name) VALUES('{}')""".format(i)
#     print(test)

INSERT INTO name_table(name) VALUES('t1')
INSERT INTO name_table(name) VALUES('t2')

In [19]:
# https://www.sqlalchemy.org/

# import sqlalchemy as db
# # engine = db.create_engine('dialect+driver://user:pass@host:port/db')
# engine = db.create_engine('mysql:/root:root@127.0.0.1:8889/')
# connection = engine.connect()
# metadata = db.MetaData()
# census = db.Table('stepik_sql.book', metadata, autoload=True, autoload_with=engine)
# # Print the column names
# print(census.columns.keys())

import pandas as pd
import pymysql
from sqlalchemy import create_engine

cnx = create_engine('mysql+pymysql://root:root@127.0.0.1:8889/')
df = pd.read_sql('SELECT * FROM stepik_sql.book', cnx)
df.head()

   book_id                  title            author   price  amount
0        1     Мастер и Маргарита     Булгаков М.А.  670.99       3
1        2          Белая гвардия     Булгаков М.А.  540.50       5
2        3                  Идиот  Достоевский Ф.М.  460.00      10
3        4      Братья Карамазовы  Достоевский Ф.М.  799.01       3
4        5  Стихотворения и поэмы       Есенин С.А.  650.00      15