# Чтение и запись в файлы

In [2]:
# Вариант 1

# 'r' - открыть файл для чтения
# 'w' - очистить файл и открыть для записи новых данных
# 'a' - добавить строчки к концу файла
f = open('/Users/aleksandr/Dropbox/GitHub/Data_Analysis/Notebook/(Lectures notebooks) netology Mathematics and Python/3. Python_3_Functions_and_libs/ds/adult.csv', 'r')
for line in f:
    print(line)
    break
    
f.close()

age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income

In [4]:
# прочитать содержимое файла в список
with open('/Users/aleksandr/Dropbox/GitHub/Data_Analysis/Notebook/(Lectures notebooks) netology Mathematics and Python/3. Python_3_Functions_and_libs/ds/adult.csv', 'r') as f:
    content = f.readlines()

content[:5]

['age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income\n',
 '25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K\n',
 '38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K\n',
 '28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K\n',
 '44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K\n']

In [ ]:
# на Windows скорее всего придется использовать \\
'C:\\Users\\kbashevoy\\Нетология\\adult.csv'

In [5]:
# прочитать большой файл построчно
with open('/Users/aleksandr/Dropbox/GitHub/Data_Analysis/Notebook/(Lectures notebooks) netology Mathematics and Python/3. Python_3_Functions_and_libs/ds/adult.csv') as f:
    for line in f:
        print(line)
        
        break

age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income

# Функции и классы

In [6]:
i = 0
with open('/Users/aleksandr/Dropbox/GitHub/Data_Analysis/Notebook/(Lectures notebooks) netology Mathematics and Python/3. Python_3_Functions_and_libs/ds/adult.csv', 'r') as f:
    for line in f:
        print(line.strip().split(','))
        
        i = i + 1
        if i > 5:
            break

['age', 'workclass', 'fnlwgt', 'education', 'educational-num', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']
['25', 'Private', '226802', '11th', '7', 'Never-married', 'Machine-op-inspct', 'Own-child', 'Black', 'Male', '0', '0', '40', 'United-States', '<=50K']
['38', 'Private', '89814', 'HS-grad', '9', 'Married-civ-spouse', 'Farming-fishing', 'Husband', 'White', 'Male', '0', '0', '50', 'United-States', '<=50K']
['28', 'Local-gov', '336951', 'Assoc-acdm', '12', 'Married-civ-spouse', 'Protective-serv', 'Husband', 'White', 'Male', '0', '0', '40', 'United-States', '>50K']
['44', 'Private', '160323', 'Some-college', '10', 'Married-civ-spouse', 'Machine-op-inspct', 'Husband', 'Black', 'Male', '7688', '0', '40', 'United-States', '>50K']
['18', '?', '103497', 'Some-college', '10', 'Never-married', '?', 'Own-child', 'White', 'Female', '0', '0', '30', 'United-States', '<=50K']

In [7]:
i = 0
with open('/Users/aleksandr/Dropbox/GitHub/Data_Analysis/Notebook/(Lectures notebooks) netology Mathematics and Python/3. Python_3_Functions_and_libs/ds/adult.csv', 'r') as f:
    for line in f:
        print(line)
        
        i += 1
        if i > 5:
            break

age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income

25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K

38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K

28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K

44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K

18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

Хотим классифицировать жителей в файле по возрастам:
* до 18 лет - children 
* 19-65 - young
* старше 65 - retiree

In [8]:
i = 0
with open('/Users/aleksandr/Dropbox/GitHub/Data_Analysis/Notebook/(Lectures notebooks) netology Mathematics and Python/3. Python_3_Functions_and_libs/ds/adult.csv', 'r') as f:
    for line in f:
        age, *_ = line.strip().split(',')
        
        if i > 0:
            print(age)
        
        i += 1
        if i > 5:
            break

25
38
28
44
18

Добавим классификацию возрастов

In [9]:
i = 0
with open('/Users/aleksandr/Dropbox/GitHub/Data_Analysis/Notebook/(Lectures notebooks) netology Mathematics and Python/3. Python_3_Functions_and_libs/ds/adult.csv', 'r') as f:
    for line in f:
        age, *_ = line.strip().split(',')
        
        if i > 0:
            if int(age) <= 18:
                age_group = 'children'

            elif int(age) <= 60:
                age_group = 'young'

            else:
                age_group = 'retiree'
                
            print(age, age_group)
        
        i += 1
        if i > 10:
            break

25 young
38 young
28 young
44 young
18 children
34 young
29 young
63 retiree
24 young
55 young

Что тут нехорошо:
* сложно потестировать все случаи (в нашем цикле нужных случаев может и не оказаться)
* наш цикл стал довольно громоздким, а мы только начали
* эта классификация может потребоваться еще в 100500 местах кода
* данные могут быть кривыми и скрипт будет падать с ошибкой

Условия вычисления возрастной группы:
1. В строке 15 столбцов
2. Столбец с возрастом первый по счету
3. Возраст должен быть целым числом в адекватных пределах
4. Могут добавиться еще требования, о которых мы пока не знаем

### Функции
1. Объявляются с помощью def
2. Конец функции определяется как обычно отступом
3. Результат работы функции определяется словом return

In [ ]:
# Функция, делающая предсказания

In [14]:
predictions = ['Да', 'Нет', 'Возможно', 'Есть сомнения', 'Без сомнений', 'Очень вероятно']

### Упражнение
Напишите функцию, возвращающую возрастную категорию по правилам:
* до 18 лет - children 
* 19-65 - young
* старше 65 - retiree

In [15]:
line = '25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K'

In [16]:
def line_is_correct(line):
    """
    Проверка строки на корректность. Проверяются условия:
    1. В строке 15 столбцов (пригодится с упражнения)
    2. Столбец с возрастом первый по счету
    3. Возраст должен быть целым числом в адекватных пределах
    """
    age = line.strip().split(',')[0]
    
    if number_of_columns(line) == 15:
        if age_is_correct(age):
            return True
    
    return False

In [17]:
def number_of_columns(line, separator=','):
    """Возвращает количество столбцов в строке line с разделителем separator"""
    
    return len(line.split(separator))

In [18]:
def age_is_correct(age, lower_age = 0, upper_age = 120):
    """
    Проверка корректности возраста age по следующим правилам:
    1. Целое число
    2. В адекватных пределах
    
    Возвращает True или False. Пример
    age_is_correct(15)
    True
    
    age_is_correct(121)
    False
    
    age_is_correct(-5)
    False
    """
    
    if str.isnumeric(age):
        if lower_age <= int(age) <= upper_age:
            return True
    
    return False

### Добавляем функции проверки в наш цикл

In [20]:
i = 0
with open('/Users/aleksandr/Dropbox/GitHub/Data_Analysis/Notebook/(Lectures notebooks) netology Mathematics and Python/3. Python_3_Functions_and_libs/ds/adult.csv', 'r') as f:
    for line in f:
        
        if line_is_correct(line):
            age, *_ = line.strip().split(',')
            if int(age) <= 18:
                age_group = 'children'

            elif int(age) <= 60:
                age_group = 'young'

            else:
                age_group = 'retiree'

            print(age, age_group)
        
        i += 1
        if i > 10:
            break

25 young
38 young
28 young
44 young
18 children
34 young
29 young
63 retiree
24 young
55 young

### Давайте вынесем классификацию возраста в отдельную функцию

In [21]:
def age_classification(age):
    """
    Возвращает возрастную категорию для возраста age (можно передать как строку).
    Классификация категорий:
        - до 18 лет - children 
        - 19-60 - young
        - старше 65 - retiree
    
    Пример
    age_classification('18')
    'children'
    
    age_classification(65)
    'retiree'
    """
    
    if int(age) <= 18:
        return 'children'
    if int(age) <= 65:
        return 'young'
    if int(age) > 65:
        return 'retiree'
    return 'boom'

In [22]:
age_classification(61)

'young'

In [23]:
i = 0
with open('/Users/aleksandr/Dropbox/GitHub/Data_Analysis/Notebook/(Lectures notebooks) netology Mathematics and Python/3. Python_3_Functions_and_libs/ds/adult.csv', 'r') as f:
    for line in f:
        if line_is_correct(line):
            age, *_ = line.strip().split(',')
            print(age, age_classification(age))
        
        i += 1
        if i > 10:
            break

25 young
38 young
28 young
44 young
18 children
34 young
29 young
63 young
24 young
55 young

### Упражнение

Напишите функцию, которая заменяет значения целевой переменной income с >50K и <=50K на 1 и 0.
Добавьте проверку на корректность значения income

### Map и lambda-функции

In [24]:
nums = [ 1, 2, 3, 4, 5 ]

In [25]:
only_odd_numbers = lambda x: x % 2 == 0

In [26]:
[x for x in nums if only_odd_numbers(x)]

[2, 4]

In [27]:
def square(x):
    return x**2

In [28]:
for i in map(square, range(100, 10**10)):
    print(i)
    
    break

10000

In [29]:
list( map(square, nums) )

[1, 4, 9, 16, 25]

In [30]:
def cube(x):
    return x**3

In [31]:
for i in range(len(nums)):
    print(list(map(lambda x: x(nums[i]), [square, cube])))

[1, 1]
[4, 8]
[9, 27]
[16, 64]
[25, 125]

###  Упражнение
Дана статистика рекламных кампаний в формате дата - кампания - переходы.

Напишите функцию vk_campaigns, которая фильтрует список ad_stats по кампании vk. А затем функцию, вычисляющую сумму переходов по кампаниям vk.

In [ ]:
ad_stats = [
    '2018-01-01,vk,43',
    '2018-01-01,fb,775',
    '2018-01-01,ya,64',
    '2018-01-02,vk,1164',
    '2018-01-02,fb,35',
    '2018-01-02,ya,254',
    '2018-01-02,ok,645',
    '2018-01-03,vk,7754',
    '2018-01-03,fb,654',
    '2018-01-03,ya,4625',
    '2018-01-03,ok,245',
]

### Если аргументы функции заранее неизвестны

args kwargs

In [32]:
def api_requets(**params):
    return params

In [33]:
api_requets(a=1, b=2, c=3)

{'a': 1, 'b': 2, 'c': 3}

In [34]:
def api_request(*params):
    date_start = params[0]
    date_end = params[1]
    
    print(date_start, date_end)

In [35]:
api_request('2019-01-01', '2019-01-31')

2019-01-01 2019-01-31

In [36]:
def api_request(**params):
    date_start = params['date_start']
    date_end = params['date_end']
    
    print(date_start, date_end)

In [37]:
api_request(date_end='2019-01-31', date_start='2019-01-01')

2019-01-01 2019-01-31

In [38]:
def request(*args):
    return args

In [39]:
request('2019-01-01', '2019-01-31')

('2019-01-01', '2019-01-31')

In [40]:
def request(**kwargs):
    return kwargs

In [41]:
request(date_from='2019-01-01', date_to='2019-01-31')

{'date_from': '2019-01-01', 'date_to': '2019-01-31'}

### Упражнение
Необходима функция, которая составляет запрос к API в следующем формате:

https://api.service.ru/reports?date1=2018-01-01&date2=2018-01-31&accuracy=full&id=4721932

Хост https://api.service.ru постоянен, название метода 'reports' и набор параметров date1, date2, accuracy, id может меняться и задается пользователем в качестве аргументов функции. В итоге функция должна возвращать URL для запроса к API с параметрами.

In [42]:
# для перевода словаря в параметры URL можно использовать urlencode

from urllib.parse import urlencode
urlencode({'param1': 'foo', 'param2': 'bar'})

'param1=foo&param2=bar'

### Рекурсия

In [43]:
i = 10

while i >= 1:
    print(i)
    i -=1

10
9
8
7
6
5
4
3
2
1

In [44]:
def decrease_and_print_i(i):
    if i > 1:
        print(i)
        return decrease_and_print_i(i - 1)

    else:
        return 1

In [45]:
decrease_and_print_i(10)

10
9
8
7
6
5
4
3
2

1

# Немного про тесты

При необходимости функции удобно выносить в отдельные файлы. Смотрим validations.py и test_validations.py

запуск тестов из командной строки:

pytest test_validations.py

# Классы

### Задача
Ваш скрипт использует данные по курсу евро на сегодня. Данные по курсам валют можно брать из открытых источников, например, отсюда https://www.cbr-xml-daily.ru/daily_json.js

Грядущие проблемы:

1. Аналогичный курс евро нужен еще нескольким отчетам и десятку ваших коллег

2. С упомянутым сервисом может много чего случиться:
    - временная недоступность
    - изменение URL с данными
    - изменение формата ответа
    - закрытие сервиса
    
3. Со временем могут потребоваться данные не только евро, но и других валют. Также может потребоваться курс за период

Во всех этих ситуациях формат возвращаемого курса должен оставаться постоянным, чтобы не переписывать уже написанные отчеты.

In [46]:
import requests

In [47]:
class Rate:
    def __init__(self, format='value'):
        self.format = format
    
    def exchange_rates(self):
        """
        Возвращает ответ сервиса с информацией о валютах в виде:
        
        {
            'AMD': {
                'CharCode': 'AMD',
                'ID': 'R01060',
                'Name': 'Армянских драмов',
                'Nominal': 100,
                'NumCode': '051',
                'Previous': 14.103,
                'Value': 14.0879
                },
            ...
        }
        """
        r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
        return r.json()['Valute']
    
    def make_format(self, currency):
        """
        Возвращает информацию о валюте currency в двух вариантах:
        - полная информация о валюте при self.format = 'full':
        Rate('full').make_format('EUR')
        {
            'CharCode': 'EUR',
            'ID': 'R01239',
            'Name': 'Евро',
            'Nominal': 1,
            'NumCode': '978',
            'Previous': 79.6765,
            'Value': 79.4966
        }
        
        Rate('value').make_format('EUR')
        79.4966
        """
        response = self.exchange_rates()
        
        if currency in response:
            if self.format == 'full':
                return response[currency]
            
            if self.format == 'value':
                return response[currency]['Value']
        
        return 'Error'
    
    def eur(self):
        """Возвращает курс евро на сегодня в формате self.format"""
        return self.make_format('EUR')
    
    def usd(self):
        """Возвращает курс доллара на сегодня в формате self.format"""
        return self.make_format('USD')

In [48]:
curr = Rate()

In [49]:
import requests
curr.exchange_rates()

{'AUD': {'ID': 'R01010',
  'NumCode': '036',
  'CharCode': 'AUD',
  'Nominal': 1,
  'Name': 'Австралийский доллар',
  'Value': 45.587,
  'Previous': 45.5022},
 'AZN': {'ID': 'R01020A',
  'NumCode': '944',
  'CharCode': 'AZN',
  'Nominal': 1,
  'Name': 'Азербайджанский манат',
  'Value': 38.3874,
  'Previous': 38.4093},
 'GBP': {'ID': 'R01035',
  'NumCode': '826',
  'CharCode': 'GBP',
  'Nominal': 1,
  'Name': 'Фунт стерлингов Соединенного королевства',
  'Value': 82.8055,
  'Previous': 82.4552},
 'AMD': {'ID': 'R01060',
  'NumCode': '051',
  'CharCode': 'AMD',
  'Nominal': 100,
  'Name': 'Армянских драмов',
  'Value': 13.5817,
  'Previous': 13.5894},
 'BYN': {'ID': 'R01090B',
  'NumCode': '933',
  'CharCode': 'BYN',
  'Nominal': 1,
  'Name': 'Белорусский рубль',
  'Value': 31.0619,
  'Previous': 31.0514},
 'BGN': {'ID': 'R01100',
  'NumCode': '975',
  'CharCode': 'BGN',
  'Nominal': 1,
  'Name': 'Болгарский лев',
  'Value': 37.5443,
  'Previous': 37.5051},
 'BRL': {'ID': 'R01115',
  'NumCode': '986',
  'CharCode': 'BRL',
  'Nominal': 1,
  'Name': 'Бразильский реал',
  'Value': 16.8935,
  'Previous': 16.7708},
 'HUF': {'ID': 'R01135',
  'NumCode': '348',
  'CharCode': 'HUF',
  'Nominal': 100,
  'Name': 'Венгерских форинтов',
  'Value': 22.811,
  'Previous': 22.7781},
 'HKD': {'ID': 'R01200',
  'NumCode': '344',
  'CharCode': 'HKD',
  'Nominal': 10,
  'Name': 'Гонконгских долларов',
  'Value': 83.0635,
  'Previous': 83.1268},
 'DKK': {'ID': 'R01215',
  'NumCode': '208',
  'CharCode': 'DKK',
  'Nominal': 10,
  'Name': 'Датских крон',
  'Value': 98.3186,
  'Previous': 98.2264},
 'USD': {'ID': 'R01235',
  'NumCode': '840',
  'CharCode': 'USD',
  'Nominal': 1,
  'Name': 'Доллар США',
  'Value': 65.1243,
  'Previous': 65.1614},
 'EUR': {'ID': 'R01239',
  'NumCode': '978',
  'CharCode': 'EUR',
  'Nominal': 1,
  'Name': 'Евро',
  'Value': 73.369,
  'Previous': 73.4239},
 'INR': {'ID': 'R01270',
  'NumCode': '356',
  'CharCode': 'INR',
  'Nominal': 100,
  'Name': 'Индийских рупий',
  'Value': 93.986,
  'Previous': 94.045},
 'KZT': {'ID': 'R01335',
  'NumCode': '398',
  'CharCode': 'KZT',
  'Nominal': 100,
  'Name': 'Казахстанских тенге',
  'Value': 16.9387,
  'Previous': 16.9614},
 'CAD': {'ID': 'R01350',
  'NumCode': '124',
  'CharCode': 'CAD',
  'Nominal': 1,
  'Name': 'Канадский доллар',
  'Value': 48.6765,
  'Previous': 48.5084},
 'KGS': {'ID': 'R01370',
  'NumCode': '417',
  'CharCode': 'KGS',
  'Nominal': 100,
  'Name': 'Киргизских сомов',
  'Value': 93.0374,
  'Previous': 93.2876},
 'CNY': {'ID': 'R01375',
  'NumCode': '156',
  'CharCode': 'CNY',
  'Nominal': 10,
  'Name': 'Китайских юаней',
  'Value': 94.2587,
  'Previous': 94.2565},
 'MDL': {'ID': 'R01500',
  'NumCode': '498',
  'CharCode': 'MDL',
  'Nominal': 10,
  'Name': 'Молдавских леев',
  'Value': 35.8812,
  'Previous': 35.8424},
 'NOK': {'ID': 'R01535',
  'NumCode': '578',
  'CharCode': 'NOK',
  'Nominal': 10,
  'Name': 'Норвежских крон',
  'Value': 75.0142,
  'Previous': 74.9774},
 'PLN': {'ID': 'R01565',
  'NumCode': '985',
  'CharCode': 'PLN',
  'Nominal': 1,
  'Name': 'Польский злотый',
  'Value': 17.1655,
  'Previous': 17.1477},
 'RON': {'ID': 'R01585F',
  'NumCode': '946',
  'CharCode': 'RON',
  'Nominal': 1,
  'Name': 'Румынский лей',
  'Value': 15.508,
  'Previous': 15.491},
 'XDR': {'ID': 'R01589',
  'NumCode': '960',
  'CharCode': 'XDR',
  'Nominal': 1,
  'Name': 'СДР (специальные права заимствования)',
  'Value': 90.1366,
  'Previous': 89.956},
 'SGD': {'ID': 'R01625',
  'NumCode': '702',
  'CharCode': 'SGD',
  'Nominal': 1,
  'Name': 'Сингапурский доллар',
  'Value': 47.7451,
  'Previous': 47.6082},
 'TJS': {'ID': 'R01670',
  'NumCode': '972',
  'CharCode': 'TJS',
  'Nominal': 10,
  'Name': 'Таджикских сомони',
  'Value': 68.9905,
  'Previous': 69.0452},
 'TRY': {'ID': 'R01700J',
  'NumCode': '949',
  'CharCode': 'TRY',
  'Nominal': 1,
  'Name': 'Турецкая лира',
  'Value': 11.3384,
  'Previous': 11.1875},
 'TMT': {'ID': 'R01710A',
  'NumCode': '934',
  'CharCode': 'TMT',
  'Nominal': 1,
  'Name': 'Новый туркменский манат',
  'Value': 18.6336,
  'Previous': 18.6442},
 'UZS': {'ID': 'R01717',
  'NumCode': '860',
  'CharCode': 'UZS',
  'Nominal': 10000,
  'Name': 'Узбекских сумов',
  'Value': 76.5039,
  'Previous': 76.5564},
 'UAH': {'ID': 'R01720',
  'NumCode': '980',
  'CharCode': 'UAH',
  'Nominal': 10,
  'Name': 'Украинских гривен',
  'Value': 24.212,
  'Previous': 23.9037},
 'CZK': {'ID': 'R01760',
  'NumCode': '203',
  'CharCode': 'CZK',
  'Nominal': 10,
  'Name': 'Чешских крон',
  'Value': 28.5934,
  'Previous': 28.4709},
 'SEK': {'ID': 'R01770',
  'NumCode': '752',
  'CharCode': 'SEK',
  'Nominal': 10,
  'Name': 'Шведских крон',
  'Value': 69.1429,
  'Previous': 69.0532},
 'CHF': {'ID': 'R01775',
  'NumCode': '756',
  'CharCode': 'CHF',
  'Nominal': 1,
  'Name': 'Швейцарский франк',
  'Value': 65.6363,
  'Previous': 65.6472},
 'ZAR': {'ID': 'R01810',
  'NumCode': '710',
  'CharCode': 'ZAR',
  'Nominal': 10,
  'Name': 'Южноафриканских рэндов',
  'Value': 44.1416,
  'Previous': 45.1757},
 'KRW': {'ID': 'R01815',
  'NumCode': '410',
  'CharCode': 'KRW',
  'Nominal': 1000,
  'Name': 'Вон Республики Корея',
  'Value': 55.2116,
  'Previous': 55.0484},
 'JPY': {'ID': 'R01820',
  'NumCode': '392',
  'CharCode': 'JPY',
  'Nominal': 100,
  'Name': 'Японских иен',
  'Value': 60.1582,
  'Previous': 60.3095}}

In [50]:
curr.usd()

65.1243

In [51]:
curr.eur()

73.369

In [52]:
curr = Rate('full')

In [53]:
curr.usd()

{'ID': 'R01235',
 'NumCode': '840',
 'CharCode': 'USD',
 'Nominal': 1,
 'Name': 'Доллар США',
 'Value': 65.1243,
 'Previous': 65.1614}

In [54]:
curr.eur()

{'ID': 'R01239',
 'NumCode': '978',
 'CharCode': 'EUR',
 'Nominal': 1,
 'Name': 'Евро',
 'Value': 73.369,
 'Previous': 73.4239}

### Упражнение на дом
1. Добавьте в класс еще один формат, который возвращает название валюты (например, 'Евро').

2. Добавьте в класс параметр diff (со значениями True или False), который в случае значения True в методах eur и usd будет возвращать не курс валюты, а изменение по сравнению в прошлым значением.